:root {
  --dark: #443850;
  --darker: #1f2937;
  --darkest: #111827;
  --light: #eee;
  --pink: #ec4899;
  --purple: #8b5cf6;
  --gray: #6b7280;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: raleway;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--dark);
  color: #fff;
}

.background {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  transition: opacity 500ms;
  background: #eaeaea;
}

.background.dark {
  opacity: 1;
}
.theme-toggle--button {
  --button-diameter: 25px;
  --shape-size: 10px;
  --color: #353175;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  align-items: center;
  background-color: #eaeaea;
  justify-content: center;
  transition: box-shadow 500ms;
  font-size: var(--shape-size);
  width: var(--button-diameter);
  height: var(--button-diameter);
  box-shadow: 4px 4px 15px rgba(53, 49, 117, 0.2);
  margin-left: 1rem;
  margin-top: 1rem;
}
.dark ~ .theme-toggle--button {
  box-shadow: 4px 4px 15px rgb(29 27 58);
}
.theme-toggle--button span {
  display: inline-block;
}
.theme-toggle--button .rays--container {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.theme-toggle--button .rays--container .ray {
  position: absolute;
  border-radius: 50%;
  transition: all 500ms;
}

.theme-toggle--button .rays--container .ray:nth-child(2) {
  transform: rotate(45deg);
}
.theme-toggle--button .rays--container .ray:nth-child(3) {
  transform: rotate(90deg);
}

.theme-toggle--button .rays--container .ray:nth-child(4) {
  transform: rotate(-45deg);
}
.theme-toggle--button .shape {
  z-index: 1;
  position: absolute;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #fff;
  transition: all 500ms;
}

.theme-toggle--button .shape.moon {
  width: 1.667em;
  height: 1.667em;
  box-shadow: inset -0.5em -0.5em var(--color);
}
.theme-toggle--button .shape.moon ~ .rays--container .ray {
  width: 0;
  height: 0;
}
.theme-toggle--button .shape.sun {
  width: 1em;
  height: 1em;
  box-shadow: inset -0.7em -0.7em var(--color);
}

.theme-toggle--button .shape.sun ~ .rays--container {
  transform: rotate(90deg);
  transition: transform 750ms 400ms;
}
.theme-toggle--button .shape.sun ~ .rays--container .ray {
  width: 0.334em;
  height: 1.667em;
  background-color: var(--color);
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#new-task {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: var(--darker);
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: var(--light);
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: var(--gray);
}
#submit-task {
  color: var(--pink);
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.4s;
}

#submit-task:hover {
  opacity: 0.8;
}

#submit-task:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--gray);
  margin-bottom: 1rem;
}

#tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: var(--darkest);
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

img {
  display: none;
  width: 25px;
  min-height: 25px;
}

#tasks .task .content {
  flex: 1 1 0%;
}

#tasks .task .content .text {
  color: var(--light);
  font-size: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
  color: var(--pink);
}

#tasks .task .actions {
  display: flex;
  margin: 0 0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: capitalize;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.4;
}

.task .actions button:active {
  opacity: 0.6;
}

.task .actions .edit {
  background-image: linear-gradient(to right, var(--pink), var(--purple));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.task .actions .delete {
  color: #ec4899;
}

.task .actions .check {
  color: #ec4899;
}
